<% provide(:title, "About") %>
<h1>About</h1>
<p align="center">
If you want to be my friend, there's a big F, just go for it!
</p>
<h1>
    <%= link_to image_tag("Facebook.png"),
    'https://www.facebook.com/joel.yang.56' %>
</h1>
