<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p align="center">
  If you really really want to I guess you could click the link below and see what happens?
</p>
<h1>
    <%= link_to image_tag("Contact.png"),
    'https://mail.google.com/mail/?view=cm&fs=1&to=joel.yang.xl@gmail.com&su=twittwat&body=Hi' %>
</h1>
